asttokens==2.4.1
blinker==1.8.2
click==8.1.7
decorator==5.1.1
dnspython==2.7.0
dominate==2.9.1
dynaconf==3.2.6
executing==2.1.0
Flask==3.0.3
Flask-Bootstrap==3.3.7.1
Flask-PyMongo==2.3.0
flask-shell-ipython==0.5.3
Flask-WTF==1.2.1
-e git+https://github.com/alexpaulo100/python-web-api.git@a19ca43be2b6961db9783ccf09ce2e03e1da69c4#egg=flask_blog&subdirectory=exemplos/day2/flask
flask_simplelogin==0.1.3
ipython==8.28.0
isort==5.13.2
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
MarkupSafe==3.0.1
matplotlib-inline==0.1.7
mistune==3.0.2
parso==0.8.4
pexpect==4.9.0
prompt_toolkit==3.0.48
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.18.0
pymongo==4.10.1
ruff==0.6.9
setuptools==75.2.0
six==1.16.0
stack-data==0.6.3
traitlets==5.14.3
Unidecode==1.3.8
visitor==0.1.3
wcwidth==0.2.13
Werkzeug==3.0.4
WTForms==3.1.2
