{% extends "bootstrap/base.html" %}
{% block title %}{{ config.get('TITLE') }}{% endblock %}


{% block navbar %}
<div class="navbar container">
<div class="navbar-helder">
    <a class="navbar-brand" href="/">
    <imag alt="Brand" src="https://via.placeholder.com/150x50?text=BLOG">
    </a>
</div>
</div>
{% endblock %}


